a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-family: 'Roboto', sans-serif; !important;
    vertical-align: baseline;
    text-decoration: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

body {
    line-height: 1
}

ol, ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}
h1 {
    font-size: 110px;
    font-weight: 400;
}
.Medium {
    font-size: 42px;
    font-weight: 300;
}
.Small {
    font-size: 21px;
    font-weight: 300;
}
::-moz-selection {
    background: #41FFFD;
    color: #000
}
::selection {
    background: #41FFFD;
    color: #000
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 20px;
    background-color: white;
    color: black;
}
.menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
}

.menu li:hover {
}
.menu li {
    padding: 5px 14px;
}
header {
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#welcome {
    position: relative;
    width: 40%;
    min-width: 700px;
    left: -15%;
}
#welcome_upper{

}
#welcome_lower{

}
.link-1 a:before, .link-1 a:after {
    content: '';
    border-bottom: solid 1px black;
    position: absolute;
    bottom: 0;
    width: 0;
}

.link-1 a:before { left: 0; }
.link-1 a:after { right: 0; }

.link-1 a:hover:before, .link-1 a:hover:after {
    width: 50%;
}

.link-1 a:before, .link-1 a:after {
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

a {
    position: relative;
    color: black;
}
