body {
    height: 100vh;
    margin: 0;
    background-color: #0c0d11;
}
body::-webkit-scrollbar{
    display: none;
}
#ground {
    padding: 0;
    margin: 0;

}
#floor-wrapper{
    width: 100vw;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    object-fit: cover;
}
#floor_spacer{
    height: 50vh;
    width: 100%;
}
#floor {
    width: 100%;
    overflow: hidden;
    opacity: 0.50;

}
#spaceman-wrapper {
    position: absolute;
    top: 50vh;
    left: 70vw;
    transform: translateX(-50%) translateY(-50%);
}
.background{
    height: 100%;
}
img {
    pointer-events: none;
}
