@media screen and (max-width: 900px){
    #welcome {
        width: 80%;
        left: 0;
        min-width: 300px
    }
    h1{
        font-size: 80px;
    }
    .Context {
        font-size: 32px;
    }
}